<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="filme">
            <h2><span>Filme</span> {{filme.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{filme.name}}</span>
                </dd>
                <dt><span>Descricao</span></dt>
                <dd>
                    <span>{{filme.descricao}}</span>
                </dd>
                <dt><span>Ano</span></dt>
                <dd>
                    <span>{{filme.ano}}</span>
                </dd>
                <dt><span>Estudio</span></dt>
                <dd>
                    <span>{{filme.estudio}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/filme', filme.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
