<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="musica">
            <h2><span>Musica</span> {{musica.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Nome</span></dt>
                <dd>
                    <span>{{musica.nome}}</span>
                </dd>
                <dt><span>Autor</span></dt>
                <dd>
                    <span>{{musica.autor}}</span>
                </dd>
                <dt><span>Ano</span></dt>
                <dd>
                    <span>{{musica.ano}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/musica', musica.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
