<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-filme-cinema-heading">Create or edit a Filme Cinemas</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!filmeCinema.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="filmeCinema.id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_id_filme">Id Filme</label>
                    <select class="form-control" id="field_id_filme" name="id_filme" [(ngModel)]="filmeCinema.id_filme" >
                        <option [ngValue]="filmeOption.id === filmeCinema.id_filme?.id ? filmeCinema.id_filme : filmeOption" *ngFor="let filmeOption of filmes; trackBy: trackFilmeById">{{filmeOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_id_Cinema">Id Cinema</label>
                    <select class="form-control" id="field_id_cinema" name="id_cinema" [(ngModel)]="filmeCinema.id_cinema" >
                        <option [ngValue]="cinemaOption.id === filmeCinema.id_cinema?.id ? filmeCinema.id_cinema : cinemaOption" 
                        *ngFor="let cinemaOption of cinemas; trackBy: trackCinemaById">{{cinemaOption.id}}</option>
                    </select>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
