<div class="row">
    <div class="col-md-6">
        <h1 class="display-4" (click)="setFilme()">Filmes</h1>
    </div>
    <div class="col-md-6">
        <h1 class="display-4" (click)="setCinema()">Cinemas</h1>
    </div>
</div>

<div *ngIf="teste">
    <br/>
    <br/>
    <div class="row" *ngFor="let cinema of cinemas ;trackBy: trackId" style="padding: 10px;">
            <div class="col-md-4">
                <img [src]="cinema.urlImagem" width="360" height="300"/>
            </div>
            <div class="col-md-4">
                <h2 style="text-align: center">{{cinema.nome}}</h2>
                <br/>
                <br/>
                <h4 style="text-align: center">{{cinema.cidade}}</h4>
                <h4 style="text-align: center">{{cinema.bairro}}</h4>
            </div>
        </div >
</div>

<div *ngIf="filme" >
        <br/>
        <br/>
        <div class="row" *ngFor="let filme of filmes ;trackBy: trackId" style="padding: 10px;">
            <div class="col-md-4">
                <img [src]="filme.urlImagem" width="360" height="300"/>
            </div>
            <div class="col-md-4">
                <h2 style="text-align: center">{{filme.nome}}</h2>
                <br/>
                <br/>
                <h5>{{filme.descricao}}</h5>
                <h4 style="text-align: center">{{filme.estudio}},{{filme.ano}}</h4>
            </div>
            
            <div class="col-md-4">
                    <button type="submit" [routerLink]="['/filme', filme.id, 'view' ]"
                        class="btn btn-info btn-sm">
                    <fa-icon [icon]="'eye'"></fa-icon>
                    <span class="d-none d-md-inline">Visualizar dados Do filme</span>
                    </button>
                
                    <button type="submit" [routerLink]="['/avaliacao/new']"
                    class="btn btn-primary btn-sm">
                    <fa-icon [icon]="'pencil-alt'"></fa-icon>
                    <span class="d-none d-md-inline">Fazer um comentario</span>
            </button>
            </div>
        </div >
</div>
